.profileimage{
    width: 50px;
    height: 50px; 
    object-fit: cover;
}

.employeetable{
    padding: 1%;
}

.ant-form-item-control {
  display: flex;
}

.ant-form-item-label {
  flex: 1;
  padding-right: 12%;
}

.headcard{
    margin-left: 45%;
}

.modalupdate{
  width: 5rem;
}

.ant-modal, .ant-modal-content {
 height: 100vh;
 width: 100vw;
 margin: 0;
 top: 0;
}
.ant-modal-body {
 height: calc(100vh - 110px);
}

.updateprofile{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.buttoncrud{
  display: flex;
  column-gap: 2rem;
}